/* Central div */
.mid-div {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgb(2, 2, 2) !important;
}

/* Left div */
.left-div {
  width: 54px;
  height: 100%;
  float: left;
  background-color: rgb(46, 0, 25);
}

/* Right div */
.right-div {
  width: 54px;
  height: 100%;
  float: right;
  background-color: rgb(46, 0, 25);
}

div .content {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 50px);
}
